<div class="content">
    <p style="line-height: 25px"> C'est noté ! Aucun des créneaux proposés ne vous convient. Je vais m'empresser de
        consulter l'agenda de {{fullName}} et proposer des nouveaux créneaux aux participants.
        <br><br>
        Veuillez confirmer votre demande s'il vous plait,
    </p>
    <div class="twobtn">
        <a href="{{cancelUrl}}" class="btnCancel">Annuler</a>
        <div class="separator">

        </div>
        <a href="{{confirmUrl}}" class="btnSend">Confirmer</a>
    </div>
</div>
