<div class="content">
    <p class="details">Une erreur s'est produite.</p>
    <h1 class="details">{{message}}</h1>
    <h2 class="details">{{error.status}}</h2>
    <pre class="details">{{error.stack}}</pre>
</div>
