<tr>
    <td class="content">
        <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
            <tr>
                <td style="padding:0 0 10px 0;color:#153643;">
                    <p class="textPlain">Bonjour,</p>
                    <p class="textPlain justifyText">Je suis l'assistant IA de {{firstname}}.</p>
                    <p class="textPlain justifyText">{{firstname}} n'est malheureusement pas disponible pour cette réunion.</p>
                    <p class="textPlain justifyText">Bien cordialement,</p>
                </td>
            </tr>
        </table>
    </td>
    <td style="display: none;">
        <p>[mail_bloque_yesboss_2021]</p>
    </td>
</tr>
