<div class="content">
    <p class="details">Votre demande n'a pas pu aboutir :</p>
    <p class="details">Vous ou d'autres participants avez déjà effectué votre choix parmi les créneaux proposés.</p>
</div>