<tr>
    <td style="padding:36px 30px 42px 30px;">
        <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
            <tr>
                <td style="padding:0 0 10px 0;color:#153643;">
                    <p class="textPlain">Bonjour {{firstname}},</p>
                    <p class="textPlain justifyText">Félicitations Boss ! Votre compte YesBoss Assistant a été créé.</p>
                    <p class="textPlain justifyText">Vous pouvez maintenant vous connecter à l'application depuis votre smartphone en utilisant les informations d'accès ci-dessous. :</p>
                    <br>
                    <p class="textPlain">Identifiant : {{email}}</p>
                    <p class="textPlain">Mot de passe : {{password}}</p>
                </td>
            </tr>
        </table>
    </td>
</tr>
