<div class="content">
    <p style="line-height: 25px"> Understood! None of the proposed time slots work for you. I will promptly review {{fullName}}'s schedule and suggest new time slots to the participants.
        <br><br>
        Please confirm your request,
    </p>
    <div class="twobtn">
        <a href="{{cancelUrl}}" class="btnCancel">Cancel</a>
        <div class="separator">

        </div>
        <a href="{{confirmUrl}}" class="btnSend">Confirm</a>
    </div>
</div>
