<tr>
    <td style="padding:36px 30px 42px 30px;">
        <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
            <tr>
                <td style="padding:0 0 10px 0;color:#153643;">
                    <p class="textPlain">Hello,</p>
                    <p class="textPlain justifyText">Here is the code you can use to reset your password:</p>
                    <h4 class="h4Title" style="text-align: center;">{{code}}</h4>
                </td>
            </tr>
        </table>
    </td>
</tr>
