<tr>
    <td style="padding:36px 30px 42px 30px;">
        <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
            <tr>
                <td style="padding:0 0 10px 0;color:#153643;">
                    <p class="textPlain">Hello {{firstname}},</p>
                    <p class="textPlain justifyText">Congratulations, Boss! Your YesBoss Assistant account has been created.</p>
                    <p class="textPlain justifyText">You can now log in to the app from your smartphone using the access information below:</p>
                    <br>
                    <p class="textPlain">Username: {{email}}</p>
                    <p class="textPlain">Password: {{password}}</p>
                </td>
            </tr>
        </table>
    </td>
</tr>
