<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yes Boss</title>
    <link rel="stylesheet" href="/styleSheets/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

</head>

<body>
<div class="container">
    <div class="header padglobal">
        <img src="/images/yesboss.svg" alt="yesboss" class="icon">
        <img src="/images/mailLogo.svg" alt="calendar" class="icon">
    </div>
    {{{body}}}
    <div class="footer">
        <p>
            Need an AI-PA? &nbsp;<a href="https://www.yesbossassistant.com/download-now" target="_blank"> Download </a>&nbsp; Yesboss Assistant Now on your smartphone!
        </p>
        <img src="/images/coloredLogo.svg" alt="yesboss" height="40">
    </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

</html>
